*.jpg
*.JPG
*.jpeg
*.png
*.PNG
*.pth
*.csv
.ipynb_checkpoints
.ipynb_checkpoints/*
*.pkl
*.txt
*.ann
*.pt
*.zip
*.tar.gz
*.gz
__MACOSX
.DS_Store
._.DS_Store
data/all_images
*.tsv
*.log
*.tar
*.ckpt-*
*.ckpt.*
*.ckpt
*events.out.*
*.pbtxt
*.local
*.pb
*.idea
*cache_dir*
*.hdf5
*.h5
*.xml
**/export/Servo/
**/data/raw/
*.bin
*.json
*.index
*.vec
*.mat
